*{
    margin: 0%;
    padding: 0%;
}
body{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    font-family: 'Poppins', sans-serif;
}
header{
    margin-top: 8%;
}
.checkout-container{
    display: flex;
    justify-content: space-between;
}
.checkout{
    margin-top: 3%;
    width: 50%;
}
h1{
    font-size: 5vh;
}
h4{
    margin-bottom: 1%;
    font-size: 2vh;
    font-weight: 600;
    flex-wrap: nowrap;
}
label{
    font-size: 1.5vh;
    font-weight: 500;
}
.checkout input{
    font-family: Arial, FontAwesome;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 20px;
    width: 80%;
    margin-bottom: 3%;
}
.shooping{
    margin-top: 8%;
}
.country-postal{
    display: flex;
    justify-content: space-between;
    gap: 20%;
    width: 95%;
}
.country select{
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 10px;
    width: 130%;
}
.postal input{
    width: 60%;
}
#checkbox{
    margin-top: 3%;
    width: 5%;
    text-align: left;  
}
#continue-btn{
    background-color: #f2994a;
    color: white;
    font-size: 2vh;
    border: none;
    border-radius: 10px;
    padding: 2% 5%;
    margin-left: 60%;
    margin-top: 3%;
}

/* product */
.products{
    background-color: #f2f2f2;
    padding: 3% 3%;
    border-radius: 5%;
}
.bag{
    display: flex;
    gap: 10%;
}
.img img{
    width: 90%;
    border-radius: 10%;
}
/* .bag-quantity{

} */
.product-name h4{
    font-size: 2vh;
    font-weight: 500;
    text-wrap: nowrap;
}
.product-name h5 samp{
    font-size: 1.5vh;
    font-weight: 700;
    margin-right: 5%;
    color: #f2994a;
}
.bag-count{
    border: 1px solid black;
    padding: 5%;
    border-radius: 5%;
}
.count-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.minus, .plus{
    background-color: #bebebe;
    padding: 5px 15px;
    font-size: 2vh;
    border-radius: 5%;
}
.quantity p{
    font-size: 2vh;
}


@media only screen and (max-width: 576px){
    .checkout-container{
        display: flex;
        flex-direction: column-reverse;
    }
    .checkout{
        width: 100%;
    }
    .country-postal{
        width: 100%;
    }
}